In [8]:

import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [9]:
data = pd.read_csv('Sales_data_zone_wise.csv')

In [10]:
data.head()

       Month  Zone - A  Zone - B  Zone - C  Zone - D
0  Month - 1   1483525   1748451   1523308   2267260
1  Month - 2   1238428   1707421   2212113   1994341
2  Month - 3   1860771   2091194   1282374   1241600
3  Month - 4   1871571   1759617   2290580   2252681
4  Month - 5   1244922   1606010   1818334   1326062

In [17]:
data.describe()

           Zone - A      Zone - B      Zone - C      Zone - D
count  2.900000e+01  2.900000e+01  2.900000e+01  2.900000e+01
mean   1.540493e+06  1.755560e+06  1.772871e+06  1.842927e+06
std    2.619401e+05  1.683899e+05  3.331937e+05  3.750165e+05
min    1.128185e+06  1.527574e+06  1.237722e+06  1.234311e+06
25%    1.305972e+06  1.606010e+06  1.523308e+06  1.520406e+06
50%    1.534390e+06  1.740365e+06  1.767047e+06  1.854412e+06
75%    1.820196e+06  1.875658e+06  2.098463e+06  2.180416e+06
max    2.004480e+06  2.091194e+06  2.290580e+06  2.364132e+06

In [21]:
mean_ZONE_A = data["Zone - A"].mean()
mean_ZONE_B = data["Zone - B"].mean()
mean_ZONE_C = data["Zone - C"].mean()
mean_ZONE_D = data["Zone - D"].mean()

# 1. Mean Sales of Each Zone

In [45]:
print('Mean of Zone-A is',mean_ZONE_A)
print('Mean of Zone-B is',mean_ZONE_B)
print('Mean of Zone-C is',mean_ZONE_C)
print('Mean of Zone-D is',mean_ZONE_D)

Mean of Zone-A is 1540493.1379310344
Mean of Zone-B is 1755559.5862068965
Mean of Zone-C is 1772871.0344827587
Mean of Zone-D is 1842926.7586206896

In [37]:
data.head()

       Month  Zone - A  Zone - B  Zone - C  Zone - D
0  Month - 1   1483525   1748451   1523308   2267260
1  Month - 2   1238428   1707421   2212113   1994341
2  Month - 3   1860771   2091194   1282374   1241600
3  Month - 4   1871571   1759617   2290580   2252681
4  Month - 5   1244922   1606010   1818334   1326062

# SUM OF EACH ZONE SALES MONTH WISE

In [59]:
Sum_Result = data.iloc[0 : 5].sum()
print(Sum_Result)

Month         Month - 1Month - 2Month - 3Month - 4Month - 5
Zone - A                                            7699217
Zone - B                                            8912693
Zone - C                                            9126709
Zone - D                                            9081944
Sum_Result                                       28349694.0
dtype: object

# Based on the results , each zone generate different amount of sales